name: Auto Blog Poster
on:
  workflow_dispatch:
jobs:
  update-blog:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - run: pip install requests feedparser huggingface_hub
      - name: Run Script
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: python main.py
      - name: Save to Folder
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add _posts/
          git commit -m "New post" || echo "No changes"
          git push
